.DetailContainer{
  display: flex;
  padding: 10px;
  background-color: rgb(237, 230, 230);
  color: green;
  border-radius: 8px;
  margin-bottom: 7px;
}

.DetailContainer span{
  flex: 1;
  display: flex;
  justify-content: space-around;
}